.env/
.venv/

# PyInstaller
*.manifest
*.spec

# VS Code settings
.vscode/

# MacOS stuff
.DS_Store

# Logs
*.log

# Test cache
.pytest_cache/
.coverage

# Build
build/
dist/

# Markdown or Sphinx
docs/_build/

# Python wheels
*.whl

# Local flask instance config
instance/

# SQLite or local DB files
*.sqlite3
*.db

# Vercel-specific
.vercel/
output.log

# System files
Thumbs.db
ehthumbs.db